[submodule "Assets/Confluence"]
	path = Assets/Confluence
	url = https://github.com/eidetic-av/Confluence.git
[submodule "Assets/Scripts/Andamooka/OscJack"]
	path = Assets/Scripts/Andamooka/OscJack
	url = https://github.com/eidetic-av/OscJack.git